{block content}
<h1>Vítejte v Sysel warehouse managment system</h1>
<h2>Vyberte prosím požadovanou akci:</h2>

<ul id="pages_list">
    <li><a n:href="WarehouseList:default">Seznam skladů</a></li>
    <li><a n:href="ItemsList:default">Seznam položek</a></li>
    <li><a n:href="ItemsInWarehouse:default">Položky ve skladě</a></li>
    <li><a n:href="FindItems:default">Hledat položky</a></li>
    <li><a n:href="Orders:default">Objednávky</a></li>
</ul>
{/block}