parameters:
	database_connection:
		host: localhost
		user: root
		password: mysql
		dbname: sysel
		testDbname: sysel_test #jmeno DB pro unit testy. MUSI se lisit od dbname, bo testy na zacatku smazou data
		driver: pdo_mysql
